<app-header></app-header>
<div class="card-container">
  <div fxLayout="row wrap"
       fxLayout.lt-sm="column"
       fxLayoutGap="0px"
       fxLayoutAlign="space-evenly center">

    <ng-container class="row" *ngFor="let card of statusCards">
      <div *ngIf="card.CcrType =='Customer'" class="row-header" fxLayout="row" [ngClass]="setRowStyle(card)">
        <div class="row-headertop" fxLayout="column" fxFlex="230px" (click)='toggleRow(card)'>
          {{card.Description | slice:0:30 }}
          <span style="font-size:x-small;">{{card.Name}} - {{card.PlantName}} | <a [href]="card.AppLink" [target]="_blank"> {{card.E2eTestUri}}</a></span>
        </div>
        <span class="detailsLink" fxShow fxHide.lt-sm>
          <a [routerLink]="['/installation-details/',card.CustomerId,card.StatusId]" style="height:100%" [target]="_blank" fxLayout="row">
            <span style="font-size:small;" fxLayoutAlign="start start">Details</span>
            <img [src]="toDetailsIcon" alt="To Details page" />
          </a>
        </span>
        <div fxFlex (click)='toggleRow(card)'>
        </div>
        <!--<div fxLayout="column" style="padding: 0 2px 0 0;">
          <span style="font-size: xx-small;">
            Set in blackout
          </span>
          <p-inputSwitch [(ngModel)]="card.Blackout"></p-inputSwitch>
        </div>-->

        <span class="row-headerright" style="float:right; max-width:120px; padding-right:10px; padding-left: 5px; font-family:Arial; font-size:xx-small; line-height: 1.3rem" (click)='toggleRow(card)'>
          <mark>Updated: {{card.LastUpdate | date: 'EEE, HH:mm:ss'}}</mark>
          <a fxShow fxHide.gt-xs [routerLink]="['/installation-details/',card.CustomerId,card.StatusId]" style="height:100%" [target]="_blank">
            <img [src]="toDetailsIcon" style="width: 20px;" alt="To Details page" /><span style="color: #01495f; margin-left: 2px; font-size: small"> Details</span>
          </a>
        </span>
      </div>
      <ng-container *ngIf="card.CcrType != 'Customer'">
        <app-ccr-card [ccr]="card"
                      fxFlex="0 1 calc(16.66%)"
                      fxFlex.lt-lg="0 1 calc(33.33%)"
                      fxFlex.lt-md="0 1 calc(50%)"
                      fxFlex.lt-sm="100%"
                      [fxShow]='card.ShowCard'
                      [height]="calculatedHeight">
        </app-ccr-card>
      </ng-container>
    </ng-container>
  </div>
</div>

<div *ngIf="customers" fxShow fxHide.lt-md>
  <app-add-installation-panel [customerSelectList]='customers'></app-add-installation-panel>
</div>


