
html {
  height: 100%;
}

/*@font-face {
  font-family: Segoe;
  src: url('assets/fontface/segoeui.ttf');
}*/

/*PrimeNG inputswitch*/
:host ::ngdeep body .ui-inputswitch.ui-inputswitch-checked.ui-inputswitch-slider {
  background-color: #d56610 !important;
  background: #dfd706 !important;
}

:host ::ngdeep body .ui-inputswitch.ui-inputswitch-checked:not(.ui-state-disabled):hover.ui-inputswitch-slider {
  background-color: #d56610 !important;
  background: #dfd706;
}

:host ::ngdeep body .ui-inputswitch.ui-inputswitch-checked.ui-inputswitch-focus.ui-inputswitch-slider {
  background-color: #d56610 !important;
  background: #dfd706;
}

body {
  width: 100%; /*fallback*/
  width: 100vw;
  font-family: 'Segoe UI', 'Open Sans';
  font-weight: 300;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  height: 100px;
  flex-shrink: 0;
  background-color: #ed7314;
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
}

.row-container {
  margin: 0px;
  text-align: left;
  align-content: flex-start;
  margin: 0;
  padding: 0;
}

.flexspacer {
  flex: 1 0 auto;
}

header-container {
  width: 100%; /*fallback*/
  width: 100vw;
}

