

body {
  width: 100%; /*fallback*/
  width: 100vw;
  font-family: 'Segoe UI';
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
}

.row-container {
  margin: 10px;
  text-align: left;
  align-content: flex-start;

  margin: 0;
  padding: 0;
}

header-container {
  width: 100%; /*fallback*/
  width: 100vw;
}
