/*:root {
  --rusty-orange: #ed7314;
  --raisin-black: #291f1e;
  --queen-blue: #477998;
  --moss-green: #c4d6b0;
  --olive-drab: #3d3522;
}*/

:host {
  display: block;
  padding: 0px;
  background-color: #95c8fa;
}

.content {
  background-color: #477998;
  font-family: 'Segoe UI';
  text-align: left;
  width: 75%;
}

.field {
  width: 60px;
  max-width:25%;
  float: left;
  padding: 10px;
  background-color: #6eb8f8;
  grid-area: left;
}

.field > img {
    display: flex;
    align-items: center;
    max-width: 35px;
    margin: 10px;
  }


.warning {
  border-left: 10px solid yellow;
}

.alert1{
  border-left: 10px solid red;
}


