/*:root {
  --rusty-orange: #ed7314;
  --raisin-black: #291f1e;
  --queen-blue: #477998;
  --moss-green: #c4d6b0;
  --olive-drab: #3d3522;
}*/

:host {
  display: block;
  padding: 0;
  padding-bottom: 0;
  background-color: white;
  border-top: 1px solid #01495f;
  border-right: 1px solid #01495f;
}

/*:host(.collapse){
  display: none;
}*/

:host(.warning) {
  /*outline: 6px solid #dfd706;*/
  /*border-bottom: 6px solid #dfd706;*/
}

:host(.immediate) {
  /*border-top: 6px solid orange;*/
  /*border-bottom: 6px solid orange;*/
}

:host(.alert1) {
  /*border-top: 6px solid red;*/
  /*border-bottom: 6px solid red;*/
}

.row {
  width: 100%;
  margin: 0;
  padding:0;
}

.content-container {
  position: relative;
  float: left;
  text-align: left;
  width: 100%;
  padding:0;
}

.content {
  font-family: 'Segoe UI';
  font-size: x-small;
  font-weight: 500;
  margin: 0 auto;
  position: relative;
}

.field {
  width: 75px !important;
  border-left: 10px solid green;
  border-right: 1px double black;
  color: white;
  font-size: x-small;
  font-weight: 500;
  text-align: center;

  min-height: 160px;
  height: 100%;
  background-color:slategrey;
}

  .field > img {
     fill: black;
  }


@media screen and (max-width: 1280px) {

  .fieldDesc {
    font-size: medium;
  }

  .field {
    min-width: 120px !important;
    min-height: 200px;
  }
}

@media screen and (max-width: 768px) {
  :host {
    min-width: 100%;
    min-height: 120px;
  }

  .content {
    font-size: medium;
  }
}


  .field > img {
    width: 50%;
    height: 30px;
    margin: 10px;
  }

  .warning{
    border-left: 10px solid #dfd706;
    list-style-image: url('../../assets/gfx/li-el-warn.png');
  }

  .immediate{
    border-left: 10px solid orange;
    list-style-image: url('../../assets/gfx/li-el-imd.png');
  }

  .alert1{
    border-left: 10px solid red;
    list-style-image: url('../../assets/gfx/li-el-alrt.png');
  }

  .content > ul {
    list-style-type: square;
    padding-left: 20px;
  }

