<div class="row" fxFlexFill="TRUE">
  <div gdAreas="field content"
       gdGap="4px"
       gdRows="auto"
       gdCols=" 33% 66%">

    <div gdArea="field" [ngClass]="setFieldStyle()" class="field">
      <img [src]="fieldIconUri" alt="fieldIcon" />
      <span class="fieldDesc">{{ccr.CcrType}}</span>
      <div *ngIf="ccr.SeverityLevel != 'INFO'">
        <img [src]="ntfIconUri" alt="notification Icon" style="position:relative;top:50px; width: 20px;" pTooltip={{ccr.Message}} tooltipPosition="bottom" [escape]=false/>

      </div>
    </div>
    <div class="content-container" fxFlex="100">
      <div *ngIf="ccr.CcrType=='Customer'" gdArea="content" class="content">
        <ul class="square">
          <li>Plant name: {{ ccr.PlantName }} </li>
          <li>Description: {{ ccr.Description }}</li>
          <li>Last update: {{ ccr.LastUpdate | date: 'EEE, hh:mm:ss' }}</li>
          <li>Licence exp: {{ ccr.LicenceExpiryDate | date: shortTime }}</li>
          <li>Environment: {{ ccr.Environment }}</li>
        </ul>
      <br />
    </div>

    <div *ngIf="ccr.CcrType=='Application'" gdArea="content" class="content">
      <ul class="square">
        <li>App name: {{ ccr.ApplicationName }}</li>
        <li>Info: {{ ccr.ApplicationInfo | slice:0:contentViewLimit}}</li>
        <li>Version: {{ ccr.ApplicationVersion }}</li>
        <!--<li>Service Level: {{ ccr.ApplicationServiceLevel }}</li>-->
        <li>Service Health: {{ ccr.ApplicationServiceHealth }}</li>
      </ul>
    </div>

    <div *ngIf="ccr.CcrType=='Certificates'" gdArea="content" class="content">
      <ul class="square">
        <li>Name: {{ ccr.SslFriendlyName }}</li>
        <li>Expires: {{ ccr.SslExpiryDate | date: shortTime }}</li>
        <li>Bindings: {{ ccr.SslStatus | slice:0:contentViewLimit }}</li>
      </ul>
    </div>

    <div *ngIf="ccr.CcrType=='Storage'" gdArea="content" class="content">
      <ul class="square">
        <li>#Files: {{ ccr.StorageBlobNFiles }}</li>
        <li>#Size: {{ ccr.StorageBlobSizeMb }}</li>
        <li>Service Level: {{ ccr.StorageServiceLevel }}</li>
      </ul>
    </div>

    <div *ngIf="ccr.CcrType=='Database'" gdArea="content" class="content">
      <ul class="square">
        <li>Name: {{ ccr.DatabaseName }}</li>
        <li>Server: {{ ccr.DatabaseServer | slice:0:contentViewLimit }}</li>
        <li>Version: {{ ccr.DatabaseVersion }}</li>
        <li>Template: {{ ccr.DatabaseTemplate }}</li>
        <li>Size(MB): {{ ccr.DatabaseSize }}</li>
        <li>Service Level: {{ ccr.DatabaseServiceLevel }}</li>
      </ul>
    </div>

    <div *ngIf="ccr.CcrType=='Other assets'" gdArea="content" class="content">
      <ul class="square">
        <li>PDFTron: {{ ccr.EnabledPdfTron }}</li>
        <li>3Dviewer: {{ ccr.Enabled3dViewer }}</li>
      </ul>
      
    </div>

    </div>
    

  </div>



</div>
