

.header {
    padding-top: 10px;
    min-width: 50%;
    background-color: white;
    border-bottom: 1px solid #f09f02;
    padding-left: 30px;
    height: 50px;
}

.right {
  padding-top: 5px;
  padding-right: 30px;
  background-color: #f09f02;
  color: white;
  line-height: 35px;
  margin-bottom: 10px;
  font-size:larger;
}

/*@media screen and (max-width: 959px) {
    .right {
        margin-bottom: 0;
    }
}*/

.right > img {
  padding-top: 5px;
  padding-left: 5px;
  height: 1.5em;
  width: 2.5em;
  margin-left: 0px;
}
  
