:host {
  display: block;
  padding: 0px;
}

.header {
  background-color: #fcf3d9;
  border-bottom: 1px solid #f09f02;
  padding-left: 30px;
  height: 50px;
}

.left-top {
  display: flex;
  align-items: center;
  grid-area: left;
  line-height: 10px;
}

.right-bottom {
  grid-area: right;
  display: flex;
  background-color: #f09f02;
  color: white;
  align-items: center;

}

  .right-bottom > img {
    height: 1.5em;
    width: 2.5em;
    margin-left: 5px;
  }
  
