<div id="header-container" fxLayout="row" fxLayoutAlign="start stretch" style="background-color: #ed7314; padding: 5px 20px 5px 20px;">

  <div fxFlex="none" fxLayoutAlign="space-between center">
    <a href="/show-statuses" style="color: white; font-size:larger; margin-right: 15px;">
      <span style="display: inline-block;">Valid&nbsp;CCR&nbsp;&nbsp;</span>
      <img src="../../assets/icons/heart-rate.svg" alt="Heartbeat" style="height: 25px; vertical-align:bottom;" />
    </a>
    <div style="min-height: 40px; border: 2px solid #f48733; border-radius:7px; background-color: #f47f24; padding-left:10px; padding-right:10px; padding-top:5px;" fxLayoutGap="15px" fxLayoutAlign="space-around center">
      <a href="/show-statuses">
        <img src="../../assets/icons/home-icon.svg" alt="Home Link" style="height:25px;" />
      </a>
      <ng-container>
        <a *ngIf="!showProgress" (click)="updateAsset('All')">
          <img src="../../assets/icons/update-icon.svg" alt="Update Asset Status" style="height:25px" />
        </a>
        <img *ngIf="showProgress" src="../../assets/icons/update-icon-spin.svg" alt="Updating..." style="height:25px" />
      </ng-container>
      

      <!--<a (click)="scrollToElement(addInstallation)" fxShow fxHide.lt-md>-->
      <a fxShow fxHide.lt-md>
          <img src="../../assets/icons/add-plus-white.svg" alt="Add Asset" style="height:20px" />
        </a>

    </div>
  </div>
  <div fxFlex></div>

  <div fxFlex="nogrow" fxLayoutAlign="end center" style="background-color: #ed7314; margin-left: 15px;">
    <img src="../../assets/gfx/vnlogo.svg" alt="Visionova Logo" style="height:27px" fxShow fxHide.lt-sm />
    <img src="../../assets/gfx/vnlogo-xs.svg" alt="Visionova Logo" style="height:27px" fxShow fxHide.gt-xs />
  </div>
</div>

