<app-header></app-header>
<div id="details-container">

  <div fxLayout="row" fxLayout.lt-sm="column">
    <div id="plant-profile">
      <h3 style="background-color: darkseagreen">{{customerName}} - {{plantName}} - {{environment}}</h3>

      <img src="../../assets/gfx/plantmock.png" alt="Plant" style="max-width: 536px; width:100%" />
    </div>
    <div fxFlex="3" fxShow fxHide.xs="true"></div>
    <div fxLayout="column" style="min-width: 300px;">
      <h3 style="background-color: darkseagreen; width: calc(100% - 32px)" (click)='toggleStatusContainer()'>Statuses</h3>
      <div id="status-cards-container" fxLayout="row wrap" fxLayoutGap.gt-xs="32px" [fxShow.lt-md]="!hideStatuses">
        <ng-container *ngFor="let card of statusCards">
          <app-ccr-card [ccr]="card"
                        [fxShow]='true'
                        fxFlex="0 1 calc(33.3% - 32px)"
                        fxFlex.lt-lg="0 1 calc(50% - 32px)"
                        fxFlex.lt-sm="0 1 100%"
                        style="border-bottom:1px solid black; margin-bottom: 5px;">
          </app-ccr-card>
        </ng-container>
      </div>
    </div>
  </div>

  <h3 style="background-color: darkseagreen; width: calc(100% - 32px)" (click)='toggleStatisticsContainer()'>Usage Statistics</h3>
  <div id="usage-statistics-container" fxLayout="row wrap" fxLayoutGap="32px" [fxShow.lt-md]="!hideStatistics">
    <ng-container *ngFor="let _ of [1,2,3]">
      <div class="panel"
           fxFlex="0 1 calc(33.33% - 32px)"
           fxFlex.lt-md="0 1 calc(50% - 32px)"
           fxFlex.lt-sm="0 1 calc(100% - 32px)">
        <app-test-plot></app-test-plot>
      </div>
    </ng-container>
  </div>
</div>


<!--<div class="odd">

</div>
<div class="even">
  <app-test-plot></app-test-plot>
</div>
<div class="odd">
  <app-test-plot></app-test-plot>
</div>
<div class="even">
  Statistikk 3
</div>-->
